$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$base-font-family: Titillium Web;

$instock-black: #13182c;
$instock-indigo: #2e66e5;
$cloud: #bdc5d5;
$slate: #5c667e;
$graphite: #232940;
$green: #158463;
$light-grey: #f7f8f9;
$red: #c94515;
$brainflix-darkblue: #0065ad;
$white: #ffffff;
