$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$base-font-family: Titillium Web;

$instock-black: #13182C;
$instock-indigo: #2E66E5;
$cloud: #BDC5D5;
$slate: #5C667E;
$graphite: #232940;
$green: #158463;
$light-grey: #F7F8F9;
$red: #C94515;
$brainflix-darkblue: #0065ad;
$white: #ffffff;

