@use "../../styles/partials/resets" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.main{

    &__section{
        border-top: 1px solid grey;
    }

    &__card{

        &-info{
            display: flex;
            justify-content: space-between;
        }
    }

    &__div{
        width: 50%;
        margin: 1rem 1rem 0 1rem;
        @include body-medium-mobile;

        &-title{
            @include body-small-mobile;
            color: $slate;
        }

        &-link{

        }

        &-info{

        }


    }
    &__buttons{
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem 1rem 1rem;
    }
}

a {
    text-decoration: none;
}